.sub{
    display: flex;
    justify-content: space-between;
    margin-top:50vh;
    margin:0px 11vw;
    margin-bottom: 20vh;
    padding: 15px;
    box-shadow: 10px 10px 10px gray;
    border: 10px thin black;
}
.Left{
    padding-right: 10vw;
} 
.right{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}